.topic {
    font-size: 300%;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.container {
    max-width: none;
    padding: 0;
}

.card-lines {
    padding: 20px;
}

.card-deck {
    padding-bottom: 20px;
}
