.topic {
    font-size: 300%;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.container {
    max-width: none;
    padding: 0;
}

.card-lines {
    padding: 20px;
}

.card-deck {
    padding-bottom: 20px;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.card:hover {
    opacity: 0.6;
    filter: alpha(opacity=100);
}

.top-bar-element {
    text-decoration: underline;
    display: inline-block;
    color: #413ebd;
    text-decoration-color: transparent;
    transition: 0.5s;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}

.top-bar-element:hover {
    text-decoration-color: red;
    -webkit-text-decoration-color: red;
    -moz-text-decoration-color: red;
    color: #4286f4;
}