.topic {
    font-size: 300%;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.topbarElement{
    text-decoration:none;
    color:#8c8e8d;
}

.topbarElement:hover{
    text-decoration:none;
    color: #bfc2c4;
}
